{% extends "admin/auth/layout.njk" %}

{% block page_title %}
  Forgot Password | {{ app_name }}
{% endblock page_title %}

{% block content %}
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="{{ webRoute() }}" class="h1"><b>{{ app_name }}</b></a>
    </div>
    <div class="card-body">
      <form id="sign-in" class="my-2">
        <div class="input-group mb-3">
          <input id="identity" type="text" class="form-control" placeholder="Email / Username">
          <div class="input-group-append">
						<div class="input-group-text input-group-icon" style="max-width: 38px; justify-content: center; align-items: center;">
							<span class="fas fa-user"></span>
						</div>
					</div>
        </div>
        <div class="row">
					<div class="col-12">
						<button type="submit" class="btn btn-primary btn-block">Find Account</button>
					</div>
				</div>
      </form>
      <p class="mb-1 px-1">
        <a href="{{ webRoute() }}" class="float-left">Home</a>
				<a href="{{ adminRoute('sign-in') }}" class="float-right">Sign in</a>
			</p>
    </div>
  </div>
</div>
{% endblock content %}

{% block page_script %}
<script src="/public/admin/auth.bundle.js"></script>
{% endblock page_script %}
