<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block page_title %}{% endblock page_title %}</title>
  {# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> #}
  {% block page_style %}{% endblock page_style %}
  <link rel="stylesheet" href="/public/assets/adminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/public/assets/adminLTE-3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="/public/assets/adminLTE-3.2.0/css/adminlte.min.css">
  <link rel="stylesheet" href="/public/assets/sweetalert2/sweetalert2.min.css">
  <style type="text/css">
  .dt-search {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  
  .dt-search label {
    font-size: 0.875rem;
    white-space: nowrap;
  }
  
  .dt-search input[type="search"] {
    flex-grow: 1;
    font-size: 0.875rem;
    padding: 5px;
    height: auto;
  }

  .dt-paging {
    float: right;
  }

  .no-hover:hover {
    background-color: inherit !important;
    color: inherit !important;
  }

  .widget-user-modal .widget-user-modal-header {
    border-radius: 1rem;
    height: 148px;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }
  </style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  {% include "admin/components/navbar.njk" %}
  {% include "admin/components/sidebar-left.njk" %}
  {% block content %}{% endblock content %}
  {% include "admin/components/sidebar-right.njk" %}

  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
      version : {{ version }}
    </div>
    <strong>Copyright &copy; {{ moment().year() }} <a href="https://www.linkedin.com/in/agoenks29D">Agung Dirgantara</a>.</strong> All rights reserved.
  </footer>
</div>

</body>
<script src="/public/assets/jQuery/jquery-3.7.1.min.js"></script>
<script src="/public/assets/adminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/public/assets/adminLTE-3.2.0/js/adminlte.min.js"></script>
<script src="/public/assets/sweetalert2/sweetalert2.min.js"></script>
<script src="/public/admin/global.js"></script>
{% block page_script %}{% endblock page_script %}
</html>
